.vs-toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    background: #2E2E2E;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 9999;
    font-size: 14px;
}

.vs-toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.vs-toast.error {
    background: #b94a48;
}

.vs-toast.success {
    background: #66784A;
}
